In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
import sklearn
from sklearn.metrics import mean_squared_error, r2_score
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import random
import warnings
np.random.seed(34)
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('nasa_train.csv')
df

,Unnamed: 0,unit_number,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21
0,0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [13]:
drop_labels2=['Unnamed: 0','setting_1','setting_2','setting_3','s_1', 's_5','s_6','s_10',  's_16', 's_18', 's_19']
X_train_2=df.drop(columns=drop_labels2, axis=1)

df=df.drop(['Unnamed: 0'], axis=1)

KeyError: "['Unnamed: 0', 'setting_1', 'setting_2', 'setting_3', 's_1', 's_5', 's_6', 's_10', 's_16', 's_18', 's_19'] not found in axis"

In [14]:
for x in X_train_2.columns:
    df[x+'_rm']=0


df

,unit_number,time_cycles,s_2,s_3,s_4,s_7,s_8,s_9,s_11,s_12,...,s_8_rm,s_9_rm,s_11_rm,s_12_rm,s_13_rm,s_14_rm,s_15_rm,s_17_rm,s_20_rm,s_21_rm
0,1,1,641.82,1589.70,1400.60,554.36,2388.06,9046.19,47.47,521.66,...,0,0,0,0,0,0,0,0,0,0
1,1,2,642.15,1591.82,1403.14,553.75,2388.04,9044.07,47.49,522.28,...,0,0,0,0,0,0,0,0,0,0
2,1,3,642.35,1587.99,1404.20,554.26,2388.08,9052.94,47.27,522.42,...,0,0,0,0,0,0,0,0,0,0
3,1,4,642.35,1582.79,1401.87,554.45,2388.11,9049.48,47.13,522.86,...,0,0,0,0,0,0,0,0,0,0
4,1,5,642.37,1582.85,1406.22,554.00,2388.06,9055.15,47.28,522.19,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,643.49,1597.98,1428.63,551.43,2388.19,9065.52,48.07,519.49,...,0,0,0,0,0,0,0,0,0,0
20627,100,197,643.54,1604.50,1433.58,550.86,2388.23,9065.11,48.04,519.68,...,0,0,0,0,0,0,0,0,0,0
20628,100,198,643.42,1602.46,1428.18,550.94,2388.24,9065.90,48.09,520.01,...,0,0,0,0,0,0,0,0,0,0
20629,100,199,643.23,1605.26,1426.53,550.68,2388.25,9073.72,48.39,519.67,...,0,0,0,0,0,0,0,0,0,0
20630,100,200,643.85,1600.38,1432.14,550.79,2388.26,9061.48,48.20,519.30,...,0,0,0,0,0,0,0,0,0,0

In [6]:
drop_labels2=['s_1', 's_5','s_6','s_10',  's_16', 's_18', 's_19']
df

,unit_number,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_8_rm,s_9_rm,s_11_rm,s_12_rm,s_13_rm,s_14_rm,s_15_rm,s_17_rm,s_20_rm,s_21_rm
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,0,0,0,0,0,0,0,0,0,0
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,0,0,0,0,0,0,0,0,0,0
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,0,0,0,0,0,0,0,0,0,0
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,0,0,0,0,0,0,0,0,0,0
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,0,0,0,0,0,0,0,0,0,0
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,0,0,0,0,0,0,0,0,0,0
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,0,0,0,0,0,0,0,0,0,0
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,0,0,0,0,0,0,0,0,0,0
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df=df.drop(columns=drop_labels2+['setting_1','setting_2','setting_3'], axis=1)

In [8]:
def update_rolling_mean(data, mask):
    for x, group in mask.groupby("unit_number"):
        for x in X_train_2.columns:
            data.loc[group.index[10:], x+"_rm"] = data.loc[group.index, x].rolling(10).mean()[10:]
            data.loc[group.index[:10], x+"_rm"] = data.loc[group.index[:10], x]

update_rolling_mean(df, df)

In [9]:
df

,unit_number,time_cycles,s_2,s_3,s_4,s_7,s_8,s_9,s_11,s_12,...,s_8_rm,s_9_rm,s_11_rm,s_12_rm,s_13_rm,s_14_rm,s_15_rm,s_17_rm,s_20_rm,s_21_rm
0,1,1,641.82,1589.70,1400.60,554.36,2388.06,9046.19,47.47,521.66,...,2388.060,9046.190,47.470,521.660,2388.020,8138.620,8.41950,392.0,39.060,23.41900
1,1,2,642.15,1591.82,1403.14,553.75,2388.04,9044.07,47.49,522.28,...,2388.040,9044.070,47.490,522.280,2388.070,8131.490,8.43180,392.0,39.000,23.42360
2,1,3,642.35,1587.99,1404.20,554.26,2388.08,9052.94,47.27,522.42,...,2388.080,9052.940,47.270,522.420,2388.030,8133.230,8.41780,390.0,38.950,23.34420
3,1,4,642.35,1582.79,1401.87,554.45,2388.11,9049.48,47.13,522.86,...,2388.110,9049.480,47.130,522.860,2388.080,8133.830,8.36820,392.0,38.880,23.37390
4,1,5,642.37,1582.85,1406.22,554.00,2388.06,9055.15,47.28,522.19,...,2388.060,9055.150,47.280,522.190,2388.040,8133.800,8.42940,393.0,38.900,23.40440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,643.49,1597.98,1428.63,551.43,2388.19,9065.52,48.07,519.49,...,2388.224,9066.903,48.116,519.840,2388.237,8141.170,8.51031,396.0,38.453,23.09254
20627,100,197,643.54,1604.50,1433.58,550.86,2388.23,9065.11,48.04,519.68,...,2388.225,9066.820,48.116,519.793,2388.237,8140.771,8.51083,395.9,38.416,23.08540
20628,100,198,643.42,1602.46,1428.18,550.94,2388.24,9065.90,48.09,520.01,...,2388.223,9066.642,48.096,519.796,2388.240,8140.882,8.51915,396.2,38.424,23.07321
20629,100,199,643.23,1605.26,1426.53,550.68,2388.25,9073.72,48.39,519.67,...,2388.230,9067.045,48.136,519.813,2388.239,8140.833,8.52434,396.0,38.388,23.07370
20630,100,200,643.85,1600.38,1432.14,550.79,2388.26,9061.48,48.20,519.30,...,2388.235,9066.719,48.157,519.791,2388.239,8140.338,8.52308,396.1,38.383,23.07289

In [10]:
df.iloc[-1,-14:]=df.iloc[-2,-14:]
train_tm=df

In [11]:
index_names = ['unit_number', 'time_cycles']
train_tm=train_tm.drop(columns=index_names, axis=1)

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
final_data=scaler.fit_transform(train_tm)



final_data

array([[0.18373494, 0.40680183, 0.30975692, ..., 0.43956044, 0.70954357,
        0.65693443],
       [0.28313253, 0.4530194 , 0.35263336, ..., 0.43956044, 0.6473029 ,
        0.66484868],
       [0.34337349, 0.36952256, 0.37052667, ..., 0.21978022, 0.59543568,
        0.52824183],
       ...,
       [0.66566265, 0.68497929, 0.77532073, ..., 0.9010989 , 0.04979253,
        0.06200643],
       [0.60843373, 0.74602136, 0.74746793, ..., 0.87912088, 0.01244813,
        0.06284947],
       [0.79518072, 0.63963375, 0.84216745, ..., 0.87912088, 0.01244813,
        0.06284947]])